body {
    font-size: 16px;
    font-family: "Karla", sans-serif;
    font-weight: 400;
}

.container {
    display: grid;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #98969A;
}

.navbar li a{
    display: block;
}

.navlogo {
    padding-top: 1em;
}

.navitem {
    border-top: 2px solid transparent;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-top: 0.5em;
    padding: 0.5em 1em;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

@media all and (min-width: 376px) {
    .container {
        padding: 0 10em 5em;
    }

    .navbar {
        align-items: flex-start;
        /* justify-content: center; */
        flex-wrap: nowrap;
    }

    .navlogo {
        flex: 1;
        order: 0;
    }

    .navitem {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .navitem:hover a {
        color: #2A292E;
    }

    .navbutton {
        order: 2;
        border: 1px solid #2A292E;
        margin-left: 1em;
        padding: 0.5em 1.5em;
        background-color: white;
    }

    .navbutton:hover {
        background-color: #2A292E;
        cursor: pointer;
    }

    .navbutton:hover a {
        color: white;
    }

    .navbutton a{
        color: #2A292E;
    }

    .toggle {
        display: none;
    }

    .intro-area {
        display: flex;
        background-color: #2C2640;
        color: white;
        height: 37em;
        padding-left: 11em;
        padding-right: 11em;
        margin-left: -11em;
        margin-right: -11em;
    }

    .intro-area h1 {
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
        font-size: 70px;
        margin: 0;
    }
}